<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Google (OAuth 2.0) Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="<%= baseurl %>/">Home</a> | 
			<a href="<%= baseurl %>/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="<%= baseurl %>/">Home</a> | 
			<a href="<%= baseurl %>/account">Account</a> | 
			<a href="<%= baseurl %>/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
